.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 95%;
  flex-wrap: wrap;
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-between, center, row);
    flex: 2 1 40rem;
  }
}
.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}
#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom;
}
#clock-arrow {
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}
@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
